<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="ZHENG Robert" />
    <style>
      {{css}}
    </style>

    <link href="/css/index.css" rel="stylesheet" type="text/css" />
  </head>
  <body id="body">

        <header>
      <div id="brand">
        <a href="/" alt="Home" title="Home">GEO</a>
      </div>
      <nav>
        <ul>
          <!-- <li><a href="/" alt="Home" title="Home"><img src="Img/home-outline.svg" width="15px" alt="Home" title="Home"></a></li> -->
          <li>
            <a href="/providers" alt="list providers" title="list providers">list all</a>
          </li>
          <li>
            <a href="/create" alt="add provider" title="add provider">create</a>
          </li>
          
          <li>
            <a href="account/login" alt="login" title="login">login</a>
          </li>
        </ul>
      </nav>
    </header>

<main>
  <article>
    <h1>Rust Geo API Webserver</h1>
    
    <p>Self-contained System for Geolocation API calls.</p>
    <p>The Geo-Providers can be configured via web ui, including monthly payload limits.</p>

    <p><br/></p>

    <h2>Status</h2>

    <img src="https://img.shields.io/badge/Status-under_construction-yellow" style="float: left;padding-right: 5px;">
    <p>**Still under heavy construction**</p>

    <p><br/></p>

    <img src="https://img.shields.io/badge/Info-limited_functionality-yellow" style="float: left;padding-right: 5px;">
    <p>**This application will be just rudimentary and mostly to learn Rust and the Rocket framework.**</p>

<p><br/></p>

    <p>
      <a href="https://github.com/Zheng-Bote/scs_api_geolocation" alt="Github" title="Details on Github">goto Github</a>      
    </p>

</article>

  <article>
    {{{html}}}
  </article>
  
    <script>
      {{{js}}}
    </script>

</main>
  
  <footer class="center" id="footer"></footer>
</div>  
<p><button id="btn_top_new">&uArr;&nbsp;top</button></p>
  </body>
</html>