<article>
  <h1>Rust Geo API Webserver</h1>

  <p>Self-contained System for Geolocation API calls.</p>
  <p>
    The Geo-Providers can be configured via web ui, including monthly payload
    limits.
  </p>

  <section>
    <h2>Status</h2>

    <img
      src="https://img.shields.io/badge/Status-under_construction-yellow"
      style="float: left; padding-right: 5px"
    />
    <p>**Still under heavy construction**</p>

    <p><br /></p>

    <img
      src="https://img.shields.io/badge/Info-limited_functionality-yellow"
      style="float: left; padding-right: 5px"
    />
    <p>
      **This application will be just rudimentary and mostly to learn Rust and
      the Rocket framework.**
    </p>

    <p><br /></p>

    <p>
      <a
        href="https://github.com/Zheng-Bote/scs_api_geolocation"
        alt="Github"
        title="Details on Github"
        >goto Github</a
      >
    </p>
  </section>
</article>
