<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="ZHENG Robert" />

  <link href="/css/base.css" rel="stylesheet" type="text/css">
  <link href="/css/{{css}}.css" rel="stylesheet" type="text/css">

  <script src="/js/base.js" ></script>
  <script src="/js/{{js}}.js" ></script>
      
  </head>
  <body id="body">

        <header>
      <div id="brand">
        <a href="/" alt="Home" title="Home">GEO</a>
      </div>
      <nav>
        <ul>
          <li>
            <a href="/list_providers" alt="list providers" title="list providers">list all</a>
          </li>
          <li>
            <a href="/create" alt="add provider" title="add provider">create</a>
          </li>
          
          <li>
            <a href="account/login" alt="login" title="login">login</a>
          </li>
        </ul>
      </nav>
    </header>

<main>
    {{{html}}}
 </main>
  
  <footer class="center" id="footer"></footer>
</div>  

<p><button id="btn_top_new">&uArr;&nbsp;top</button></p>

  </body>
</html>